Repository sphinx-doc/sphinx-argparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, flake8, isort

.pre-commit-config.yaml:

# To install the git pre-commit hook run:
#   pre-commit install
# To update the pre-commit hooks run:
#   pre-commit install-hooks
exclude: '^(\.bumpversion\.cfg)(/|$)'
minimum_pre_commit_version: "1.20.0"
repos:
  - repo: meta
    hooks:
      - id: identity
      - id: check-hooks-apply
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-builtin-literals
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      # - id: check-executables-have-shebangs
      - id: trailing-whitespace
      - id: fix-encoding-pragma
        args:
          - --remove
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.18.1
    hooks:
      - id: pyupgrade
        args: ["--py36-plus"]
  - repo: https://github.com/ikamensh/flynt/
    rev: '0.63'
    hooks:
    - id: flynt
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]
        exclude: ^docs/
      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [python]
        exclude: ^docs/conf\.py$
      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [python]
        exclude: ^docs/conf\.py$
      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        types: [python]

Move LICENSE to LICENCE.rst
  LICENCE.rst
Due: none

Update .readthedocs.yaml
  .readthedocs.yaml
Due: none

Switch to ``flit`` for the build backend
  .github/check-version.py
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
Due: mypy, black, flake8, isort

Simplify ``conf.py``
  docs/conf.py
Due: isort

Enable the ``UP`` code in Ruff
  .pre-commit-config.yaml
  .ruff.toml
  sphinxarg/ext.py
  test/conftest.py
Due: mypy, black, flake8, isort

Use importlib
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Update mypy settings
  pyproject.toml
Due: none

Run ``ruff format``
  .ruff.toml
  docs/conf.py
  sphinxarg/ext.py
  sphinxarg/markdown.py
  sphinxarg/parser.py
  test/conftest.py
  test/roots/test-default-html/conf.py
  test/sample-directive-opts.py
  test/sample-directive-special.py
  test/sample.py
  test/test_default_html.py
  test/test_parser.py
Due: mypy, black, flake8, isort

Enable PEP 583 annotations
  sphinxarg/ext.py
  sphinxarg/markdown.py
  sphinxarg/parser.py
Due: mypy, black, flake8, isort

Use the ``furo`` theme
  .readthedocs.yaml
  docs/conf.py
  pyproject.toml
Due: isort

Adopt Ruff
  .flake8
  .pre-commit-config.yaml
  .ruff.toml
  pyproject.toml
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Return ``parallel_write_safe = True``
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Enable more Ruff linters
  .ruff.toml
  sphinxarg/ext.py
  sphinxarg/markdown.py
  sphinxarg/parser.py
  test/test_default_html.py
Due: mypy, black, flake8, isort

Avoid warnings
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Use absolute imports
  sphinxarg/ext.py
  test/conftest.py
  test/test_default_html.py
Due: mypy, black, flake8, isort

Add a release workflow
  .github/workflows/ci.yml
  .github/workflows/create-release.yml
Due: none

Add a linting workflow
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

Update the test workflow
  .github/workflows/ci.yml
Due: none

Install ``pytest-cov`` in the testing workflow
  .github/workflows/ci.yml
Due: none

Fix conda version badge
  README.rst
Due: none

Make argument and option section IDs more unique
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Format
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Make argument and option section IDs more unique (#44)
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

fix: skip ==SUPPRESS==-ed fileds
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

fix: assertion message depends on be_found
  test/test_default_html.py
Due: mypy, black, flake8, isort

tests for suppression of default
  test/roots/test-default-html/default-suppressed.rst
  test/sample-default-supressed.py
  test/test_default_html.py
Due: mypy, black, flake8, isort

Make private
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Ruff
  .ruff.toml
  test/sample-default-supressed.py
  test/test_default_html.py
Due: mypy, black, flake8, isort

Fix cases where a suppressed default was visible (#53)
  .ruff.toml
  sphinxarg/ext.py
  test/roots/test-default-html/default-suppressed.rst
  test/sample-default-supressed.py
  test/test_default_html.py
Due: mypy, black, flake8, isort

Sphinx autodoc mock_imports added
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Updates
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Ruff
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Support ``autodoc_mock_imports`` (#35)
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Updates for 0.5.0
  .pre-commit-config.yaml
  docs/changelog.rst
  docs/conf.py
  docs/usage.rst
  pyproject.toml
  sphinxarg/ext.py
  sphinxarg/parser.py
  sphinxarg/utils.py
  test/__pycache__/test_commands_by_group_index.cpython-39-pytest-7.2.0.pyc.484121
  test/roots/test-argparse-directive/conf.py
  test/roots/test-argparse-directive/index.rst
  test/roots/test-command-by-group-index/conf.py
  test/roots/test-command-by-group-index/index.rst
  test/roots/test-command-by-group-index/sample.rst
  test/roots/test-command-by-group-index/subcommand-a.rst
  test/roots/test-command-by-group-index/subcommand-b.rst
  test/roots/test-command-index/conf.py
  test/roots/test-command-index/index.rst
  test/roots/test-command-index/sample.rst
  test/roots/test-command-index/subcommand-a.rst
  test/roots/test-command-index/subcommand-b.rst
  test/roots/test-conf-opts-html/conf.py
  test/roots/test-conf-opts-html/index.rst
  test/roots/test-conf-opts-html/subcommand-a.rst
  test/test_argparse_directive.py
  test/test_commands_by_group_index.py
  test/test_commands_index.py
  test/test_conf_options_html.py
  test/test_default_html.py
  test/test_parser.py
Due: mypy, black, flake8, isort

Ruff
  sphinxarg/ext.py
  sphinxarg/utils.py
  test/roots/test-argparse-directive/conf.py
  test/roots/test-command-by-group-index/conf.py
  test/roots/test-command-index/conf.py
  test/roots/test-conf-opts-html/conf.py
  test/test_commands_by_group_index.py
  test/test_commands_index.py
  test/test_conf_options_html.py
  test/test_default_html.py
  test/test_parser.py
Due: mypy, black, flake8, isort

Mypy
  sphinxarg/ext.py
  test/conftest.py
  test/test_commands_by_group_index.py
  test/test_commands_index.py
  test/test_conf_options_html.py
  test/test_default_html.py
  test/utils/__init__.py
  test/utils/xpath.py
Due: mypy, black, flake8, isort

typing and other improvements
  docs/changelog.rst
  docs/usage.rst
  sphinxarg/ext.py
  test/roots/test-argparse-directive/index.rst
  test/roots/test-command-by-group-index/sample.rst
  test/roots/test-command-by-group-index/subcommand-a.rst
  test/roots/test-command-by-group-index/subcommand-b.rst
  test/test_argparse_directive.py
  test/test_commands_by_group_index.py
  test/test_default_html.py
Due: mypy, black, flake8, isort

Update the changelog
  docs/changelog.rst
  docs/conf.py
Due: isort

Update project URLs
  docs/changelog.rst
  docs/contrib.rst
  pyproject.toml
Due: none
