Repository sphinx-doc/sphinx-argparse: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, black, flake8, isort

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

isort:
  name: isort
  language: system
  entry: poetry run isort

Fix anchor for toc
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Fix tests for python-3.10 and add 3.10 to CI matrix
  .github/workflows/test.yml
  sphinxarg/parser.py
Due: mypy, black, flake8, isort

Update install.rst
  docs/install.rst
Due: none

bump version
  README.md
  pyproject.toml
Due: none

refactor folder
  .github/workflows/test.yml
  .pre-commit-config.yaml
  Makefile
  poetry.lock
  pyproject.toml
  requirements_rtd.txt
  setup.py
  sphinxarg/__init__.py
  sphinxarg4nni/__init__.py
  sphinxarg4nni/ext.py
  sphinxarg4nni/markdown.py
  sphinxarg4nni/parser.py
Due: mypy, black, flake8, isort

table
  sphinxarg4nni/ext.py
  test/test_parser.py
Due: mypy, black, flake8, isort

update thead
  sphinxarg4nni/ext.py
  sphinxarg4nni/parser.py
Due: mypy, black, flake8, isort

update minor
  sphinxarg4nni/ext.py
Due: mypy, black, flake8, isort

diff desc and help
  sphinxarg4nni/ext.py
Due: mypy, black, flake8, isort

minor update
  sphinxarg4nni/ext.py
Due: mypy, black, flake8, isort

remove colon in the title
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

v0.3.2
  docs/changelog.rst
  pyproject.toml
Due: none

Fix linting
  docs/install.rst
Due: none

cover class based arg parser
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Minimum python version is now 3.7
  .github/workflows/test.yml
  .pre-commit-config.yaml
  docs/changelog.rst
  pyproject.toml
Due: none

Update linters
  .flake8
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  sphinxarg/ext.py
  test/sample.py
Due: mypy, black, flake8, isort

Modern readthedocs config
  .readthedocs.yaml
  requirements_rtd.txt
Due: none

Update ext.py
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

use shutil.which in place of find_executable pattern changes for @ashb review
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

feat: find executable filename to address #16
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Apply suggestions from code review
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Update sphinxarg/ext.py
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

feat: find executable filename from relative paths (#17)
  sphinxarg/ext.py
Due: mypy, black, flake8, isort

Test against python 3.11 too
  .github/workflows/test.yml
Due: none

Update Github workflows
  .github/workflows/test.yml
Due: none

Python 3.11 is supported too (#22)
  .github/workflows/test.yml
Due: none

Build and publish automatically from GH actions
  .github/workflows/ci.yml
  .github/workflows/test.yml
  pyproject.toml
Due: none

fixup! Build and publish automatically from GH actions
  .github/workflows/ci.yml
Due: none

Build and publish automatically from GH actions (#26)
  .github/workflows/ci.yml
  .github/workflows/test.yml
  pyproject.toml
Due: none

Verify tag matches version before publishing
  .github/check-version.py
  .github/workflows/ci.yml
Due: mypy, black, flake8, isort

v0.4.0
  .github/workflows/ci.yml
  docs/changelog.rst
  pyproject.toml
Due: none

Use furo theme for our docs
  .readthedocs.yaml
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: isort

fixup! Use furo theme for our docs
  .readthedocs.yaml
Due: none

Path conditions:
  mypy: any of: \.py$ and not (^docs/) and not (^(\.bumpversion\.cfg)(/|$))
  black: any of: \.py$ and not (^docs/conf\.py$) and not (^(\.bumpversion\.cfg)(/|$))
  flake8: any of: \.py$ and not (^docs/conf\.py$) and not (^(\.bumpversion\.cfg)(/|$))
  isort: any of: \.py$, but not: ^(\.bumpversion\.cfg)(/|$)
